@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #ededed;
  }
}
.dark {
    --background: #111827;
    --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans;
}

body div, body main {
  box-sizing: border-box;
}
